/* { USER LIST SECTION } */
.user-list {
  width: 100%;
  max-width: 250px;
  height: 100vh;
}

/* { USER LIST TITLE } */
.user-list-title {
  font-size: 11px;
  font-weight: bold;
}

/* { USER LIST CARD } */
.user-list-card:hover {
  transition: linear 150ms;
  background-color: gray;
}

/* { LIST USER } */
.list-user-pfp {
  width: 30px;
  height: 30px;
}