/* { USER LIST SECTION } */
.user-list-section {
  width: 100%;
  max-width: 250px;
  height: 100vh;

  background-color: var(--discord-main);
}

/* { USER LIST TITLE } */
.user-list-title {
  font-size: 11px;
  font-weight: bold;
  color: var(--discord-text);
}

/* { USER LIST CARD } */

.user-list-card-active {
  background-color: gray;
}

.user-list-card:hover {
  transition: linear 150ms;
  background-color: #545454;
}

.user-list-card-text {
  color: var(--discord-text);
}

/* { LIST USER } */
.list-user-pfp {
  width: 30px;
  height: 30px;
}