/* { MIN-WIDTH for MD } */
@media screen and (min-width: 768px) {

  .discord-logo {
    position: relative;
    top: -65px;
  }

  .discord-white-logo {
    width: 100px;
  }

  .discord-text-logo {
    width: 300px;
  }

  .form-title {
    font-size: 38px;
  }

  .form-input {
    height: 42px;
  }

  .form-button {
    padding: 10px;
  }

  .form-link {
    font-size: 20px;
  }

  .form-link:hover {
    font-size: 20px;
  }

  .form-link:focus {
    font-size: 20px;
  }

}