@import url('./form-breakpoint-styles.css');

/* { FORM PAGE CONTAINER } */
.form-page-container {
  height: 100vh;
}

/* { FORM IMAGE BACKGROUND } */
.form-background {
  object-fit: cover;
  position: absolute;
  z-index: -10;
}

/* { DISCORD LOGO } */
.discord-logo {
  position: relative;
  top: -50px;
}

.discord-white-logo {
  width: 40px;
}

.discord-text-logo {
  width: 140px;
}

/* { FORM TITLE } */
.form-title {
  font-size: 28px;
  color: var(--discord-light);
}

/* { FORM INPUT } */
.form-label {
  color: var(--discord-text);
  font-size: 13px;
}

.form-input {
  height: 36px;
  color: var(--discord-light);
  background-color: var(--discord-main);
}

.form-input:focus {
  color: var(--discord-light);
  background-color: var(--discord-main);
}

/* { FORM BUTTON } */
.form-button {
  padding: 8px;
  border: none;
  color: var(--discord-light);
  background-color: var(--discord-info);
}

.form-button:hover {
  transition: 300ms;
  background-color: var(--discord-info-20);
}

.form-button:focus {
  transition: 300ms;
  background-color: var(--discord-info-40);
}

/* { FORM ANCHOR LINK } */
.form-link {
  font-size: 15px;
  text-decoration: none;
  color: var(--discord-info-20);
}

.link:hover {
  font-size: 15px;
  text-decoration: none;
  color: var(--discord-info-40);
}

.form-link:focus {
  font-size: 15px;
  text-decoration: none;
  color: var(--discord-info-40);
}

