/* { Register Form } */
.register-form {
  margin: 0 auto;
  height: 400px;
  background-color: var(--discord-secondary);
}

/* { MIN-WIDTH for MD } */
@media screen and (min-width: 768px) {

  .register-form {
    height: 470px;
  }

}

/* MIN-WIDTH for LG */
@media screen and (min-width: 992px) {

  .register-form {
    width: 960px;
  }

}
